a:focus {
    outline: 0 solid;
}

a:hover {
    text-decoration: none;
}

.serial-link a:hover {
    color: #e408a7;
}

.serial-link i.fa {
    color: #532d82;
}
.gradient-overlay {
    background-image: url(../img/main-bg.jpg);
    /*background-image: url(../img/main-bg1.jpg);*/
}

.gradient-overlay {
    background-color: blue;
    color: #fff;
    background-position: center;
    background-size: cover;
}

.gradient-overlay:after {
background: #ff00cc;
background: -moz-linear-gradient(left, #ff00cc 0%, #333399 100%);
background: -webkit-linear-gradient(left, #ff00cc 0%,#333399 100%);
background: linear-gradient(to right, #ff00cc 0%,#333399 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00cc', endColorstr='#333399',GradientType=1 );
}

.gradient-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .8;
    z-index: -1;
}

.gradient-overlay {
    z-index: 1;
    position: relative;
}
.gradient-overlay h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 150px 0;
}


.section-bg ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-bg li {
    display: block;
    font-size: 25px;
    font-weight: 600;
}

.section-bg li a {
    color: #333;
}

.section-bg {
    margin-top: 40px;
}