/* Base css */
.alignleft{
	float: left;
	margin-right: 15px;
}

.alignright{
	float: right;
	margin-left: 15px
}

.aligncenter{
	display: block;
	margin: 0 auto 15px;
}

a:focus :{ outline: 0 solid ;} 

img{
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,{ 
	margin: 0 0 15px;
	font-weight: 700px;
	 }

body{

	font-family: 'Open Sans', sans-serif;


}	

a: hover{ text-decoration: none; } 


 .gray-bg {background-color: #fafafa }

 .service-bg-1 {background-image: url(../img/service-bg-1.jpeg)}
 .service-bg-2 {background-image: url(../img/service-bg-2.jpeg)}
 .service-bg-3 {background-image: url(../img/service-bg-3.jpeg)}
 .service-bg-4 {background-image: url(../img/service-bg-4.jpeg)}

.section-padding {
    padding: 80px 0;
}

.section-title h2 {
    font-size: 25px;
    color:#333  
}

.section-title {
    margin-bottom: 50px;
}

.single-service-item {
    background: #fff;
    transition: .2s;
}

.service-bg {
    height: 225px;
    background-color: #ddd;
    background-position: center;
    background-size: cover;
}

.service-content {
    padding: 20px;
}

body {
    color: #9c9c9c;
}

.service-content h3 {
    color: #333;
}

.service-more-btn {
    display: inline-block;
    color: #39ca74;
    padding: 10px 0;
    border-radius: 50px;
    margin-top: 5px;
    font-weight: 700;
    transition: .3s;
}

.service-more-btn i.fa {
    padding-left: 10px;
}

.service-more-btn:hover {
    background: #39ca74;
    color: #fff;
    hover:  10px 20px;   
}

.single-service-item :hover {
    box-shadow: 0 0 50px #39ca74;
}